<% if ((flash.success && flash.success.length) || (flash.error && flash.error.length)) { %>
  <section class="flash-messages container">
    <% if (flash.success) { %>
      <% flash.success.forEach(function(message) { %>
        <div class="flash flash--success">
          <span class="flash-icon" aria-hidden="true">✔</span>
          <div>
            <% if (Array.isArray(message)) { %>
              <p><strong>Success!</strong></p>
              <ul>
                <% message.forEach(function(line) { %>
                  <li><%= line %></li>
                <% }) %>
              </ul>
            <% } else { %>
              <p><%= message %></p>
            <% } %>
          </div>
        </div>
      <% }) %>
    <% } %>
    <% if (flash.error) { %>
      <% flash.error.forEach(function(message) { %>
        <div class="flash flash--error">
          <span class="flash-icon" aria-hidden="true">!</span>
          <p><%= message %></p>
        </div>
      <% }) %>
    <% } %>
  </section>
<% } %>
